<h1>Update Article</h1>

<form action="updaterecord/{{ myarticle.id }}" method="post">
{% csrf_token %}
title<br>
<input name="title" style="width:600px" value="{{ myarticle.title }}">
<br><br>
<input name="type" style="width:600px" value="{{ myarticle.type }}">
<br><br>
<input name="tomtat" style="width:600px" value="{{ myarticle.tomtat }}">
<br><br>
content<br>
<textarea style="height:400px;width:600px;font-size:10pt;" name="content">{{ myarticle.content }}</textarea>
<br><br>
ID:<br>
<input name="id" value="{{ myarticle.id }}">
<br><br>
<input type="submit" value="Submit">
</form>