<h1>Update Article</h1>

<form action="updaterecord/{{ myarticle.order }}" method="post">
{% csrf_token %}
title<br>
<input name="title" style="worderth:600px" value="{{ myarticle.title }}">
<br>type<br>
<input name="type" style="worderth:600px" value="{{ myarticle.type }}">
<br>tomtat<br>
<input name="tomtat" style="worderth:600px" value="{{ myarticle.tomtat }}">
<br><br>
content<br>
<textarea style="height:400px;width:600px;font-size:10pt;" name="content">{{ myarticle.content }}</textarea>
<br><br>
order:<br>
<input name="order" value="{{ myarticle.order }}">
<br><br>
<input type="submit" value="Submit">
</form>