/* .ui-bar-a
{
	border:1px solid #2A2A2A;
	background:#111111;
	color:#ffffff;
	font-weight:bold;
	text-shadow:0 -1px 1px #000000;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#3c3c3c),to(#111));
	background-image:-webkit-linear-gradient(#3c3c3c,#111);
	background-image:-moz-linear-gradient(#3c3c3c,#111);
	background-image:-ms-linear-gradient(#3c3c3c,#111);
	background-image:-o-linear-gradient(#3c3c3c,#111);
	background-image:linear-gradient(#3c3c3c,#111)
}
.ui-bar-a,.ui-bar-a input,.ui-bar-a select,.ui-bar-a textarea,.ui-bar-a button
{
	font-family:Helvetica,Arial,sans-serif
}
.ui-bar-a .ui-link-inherit
{
	color:#fff
}
.ui-bar-a .ui-link
{
	color:#7cc4e7;
	font-weight:bold
}
.ui-bar-a .ui-link:hover
{
	color:#2489CE
}
.ui-bar-a .ui-link:active
{
	color:#2489CE
}
.ui-bar-a .ui-link:visited
{
	color:#2489CE
}
.ui-body-a,.ui-dialog.ui-overlay-a
{
	border:1px solid #2A2A2A;
	background:#222222;
	color:#fff;
	text-shadow:0 1px 0 #000;
	font-weight:normal;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#666),to(#222));
	background-image:-webkit-linear-gradient(#666,#222);
	background-image:-moz-linear-gradient(#666,#222);
	background-image:-ms-linear-gradient(#666,#222);
	background-image:-o-linear-gradient(#666,#222);
	background-image:linear-gradient(#666,#222)
}
.ui-body-a,.ui-body-a input,.ui-body-a select,.ui-body-a textarea,.ui-body-a button
{
	font-family:Helvetica,Arial,sans-serif
}
.ui-body-a .ui-link-inherit
{
	color:#fff
}
.ui-body-a .ui-link
{
	color:#2489CE;
	font-weight:bold
}
.ui-body-a .ui-link:hover
{
	color:#2489CE
}
.ui-body-a .ui-link:active
{
	color:#2489CE
}
.ui-body-a .ui-link:visited
{
	color:#2489CE
}
.ui-btn-up-a
{
	border:1px solid #222;
	background:#333333;
	font-weight:bold;
	color:#fff;
	text-shadow:0 -1px 1px #000;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#555),to(#333));
	background-image:-webkit-linear-gradient(#555,#333);
	background-image:-moz-linear-gradient(#555,#333);
	background-image:-ms-linear-gradient(#555,#333);
	background-image:-o-linear-gradient(#555,#333);
	background-image:linear-gradient(#555,#333)
}
.ui-btn-up-a a.ui-link-inherit
{
	color:#fff
}
.ui-btn-hover-a
{
	border:1px solid #000;
	background:#444444;
	font-weight:bold;
	color:#fff;
	text-shadow:0 -1px 1px #000;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#666),to(#444));
	background-image:-webkit-linear-gradient(#666,#444);
	background-image:-moz-linear-gradient(#666,#444);
	background-image:-ms-linear-gradient(#666,#444);
	background-image:-o-linear-gradient(#666,#444);
	background-image:linear-gradient(#666,#444)
}
.ui-btn-hover-a a.ui-link-inherit
{
	color:#fff
}
.ui-btn-down-a
{
	border:1px solid #000;
	background:#3d3d3d;
	font-weight:bold;
	color:#fff;
	text-shadow:0 -1px 1px #000;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#333),to(#5a5a5a));
	background-image:-webkit-linear-gradient(#333,#5a5a5a);
	background-image:-moz-linear-gradient(#333,#5a5a5a);
	background-image:-ms-linear-gradient(#333,#5a5a5a);
	background-image:-o-linear-gradient(#333,#5a5a5a);
	background-image:linear-gradient(#333,#5a5a5a)
}
.ui-btn-down-a a.ui-link-inherit
{
	color:#fff
}
.ui-btn-up-a,.ui-btn-hover-a,.ui-btn-down-a
{
	font-family:Helvetica,Arial,sans-serif;
	text-decoration:none
}
.ui-bar-b
{
	border:1px solid #456f9a;
	background:#5e87b0;
	color:#fff;
	font-weight:bold;
	text-shadow:0 -1px 1px #254f7a;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#81a8ce),to(#5e87b0));
	background-image:-webkit-linear-gradient(#81a8ce,#5e87b0);
	background-image:-moz-linear-gradient(#81a8ce,#5e87b0);
	background-image:-ms-linear-gradient(#81a8ce,#5e87b0);
	background-image:-o-linear-gradient(#81a8ce,#5e87b0);
	background-image:linear-gradient(#81a8ce,#5e87b0)
}
.ui-bar-b,.ui-bar-b input,.ui-bar-b select,.ui-bar-b textarea,.ui-bar-b button
{
	font-family:Helvetica,Arial,sans-serif
}
.ui-bar-b .ui-link-inherit
{
	color:#fff
}
.ui-bar-b .ui-link
{
	color:#ddf0f8;
	font-weight:bold
}
.ui-bar-b .ui-link:hover
{
	color:#ddf0f8
}
.ui-bar-b .ui-link:active
{
	color:#ddf0f8
}
.ui-bar-b .ui-link:visited
{
	color:#ddf0f8
}
.ui-body-b,.ui-dialog.ui-overlay-b
{
	border:1px solid #C6C6C6;
	background:#cccccc;
	color:#333333;
	text-shadow:0 1px 0 #fff;
	font-weight:normal;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#e6e6e6),to(#ccc));
	background-image:-webkit-linear-gradient(#e6e6e6,#ccc);
	background-image:-moz-linear-gradient(#e6e6e6,#ccc);
	background-image:-ms-linear-gradient(#e6e6e6,#ccc);
	background-image:-o-linear-gradient(#e6e6e6,#ccc);
	background-image:linear-gradient(#e6e6e6,#ccc)
}
.ui-body-b,.ui-body-b input,.ui-body-b select,.ui-body-b textarea,.ui-body-b button
{
	font-family:Helvetica,Arial,sans-serif
}
.ui-body-b .ui-link-inherit
{
	color:#333333
}
.ui-body-b .ui-link
{
	color:#2489CE;
	font-weight:bold
}
.ui-body-b .ui-link:hover
{
	color:#2489CE
}
.ui-body-b .ui-link:active
{
	color:#2489CE
}
.ui-body-b .ui-link:visited
{
	color:#2489CE
}
.ui-btn-up-b
{
	border:1px solid #145072;
	background:#2567ab;
	font-weight:bold;
	color:#fff;
	text-shadow:0 -1px 1px #145072;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#5f9cc5),to(#396b9e));
	background-image:-webkit-linear-gradient(#5f9cc5,#396b9e);
	background-image:-moz-linear-gradient(#5f9cc5,#396b9e);
	background-image:-ms-linear-gradient(#5f9cc5,#396b9e);
	background-image:-o-linear-gradient(#5f9cc5,#396b9e);
	background-image:linear-gradient(#5f9cc5,#396b9e)
}
.ui-btn-up-b a.ui-link-inherit
{
	color:#fff
}
.ui-btn-hover-b
{
	border:1px solid #00516e;
	background:#4b88b6;
	font-weight:bold;
	color:#fff;
	text-shadow:0 -1px 1px #014D68;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#72b0d4),to(#4b88b6));
	background-image:-webkit-linear-gradient(#72b0d4,#4b88b6);
	background-image:-moz-linear-gradient(#72b0d4,#4b88b6);
	background-image:-ms-linear-gradient(#72b0d4,#4b88b6);
	background-image:-o-linear-gradient(#72b0d4,#4b88b6);
	background-image:linear-gradient(#72b0d4,#4b88b6)
}
.ui-btn-hover-b a.ui-link-inherit
{
	color:#fff
}
.ui-btn-down-b
{
	border:1px solid #225377;
	background:#4e89c5;
	font-weight:bold;
	color:#fff;
	text-shadow:0 -1px 1px #225377;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#396b9e),to(#4e89c5));
	background-image:-webkit-linear-gradient(#396b9e,#4e89c5);
	background-image:-moz-linear-gradient(#396b9e,#4e89c5);
	background-image:-ms-linear-gradient(#396b9e,#4e89c5);
	background-image:-o-linear-gradient(#396b9e,#4e89c5);
	background-image:linear-gradient(#396b9e,#4e89c5)
}
.ui-btn-down-b a.ui-link-inherit
{
	color:#fff
}
.ui-btn-up-b,.ui-btn-hover-b,.ui-btn-down-b
{
	font-family:Helvetica,Arial,sans-serif;
	text-decoration:none
}
 */
